openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://api-platform.vntana.com
  description: Generated server url
paths:
  /v1/webhooks/{uuid}:
    get:
      tags:
      - Operations about Webhooks
      summary: Get the webhook by uuid
      operationId: getByUuid_1
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebHookResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
        "403":
          description: Forbidden
    put:
      tags:
      - Operations about Webhooks
      summary: Update the webhook
      operationId: update
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminWebhookRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebHookResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
        "403":
          description: Forbidden
    delete:
      tags:
      - Operations about Webhooks
      summary: Delete the webhook
      operationId: deleteByUuid
      parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebHookResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
        "403":
          description: Forbidden
  /v1/viewer/environment-maps:
    put:
      tags:
      - Operations about environment maps
      summary: Update existing environment map for organization or workspace level.
      operationId: update_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentMapUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnvironmentMapResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
    post:
      tags:
      - Operations about environment maps
      summary: Create new environment map for organization or workspace level.
      operationId: create
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentMapCreateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnvironmentMapResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/viewer-presets:
    put:
      tags:
      - Operations about viewer presets
      summary: Update existing viewer preset for organization or workspace level.
      operationId: update_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonViewerPresetUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewerPresetResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
    post:
      tags:
      - Operations about viewer presets
      summary: Create new viewer preset for organization or workspace level.
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonViewerPresetCreateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewerPresetResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/variant-groups:
    put:
      tags:
      - Operations about variant groups
      summary: Update a variant group
      operationId: update_3
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/UpdateVariantGroupRequestModel'
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: variant group's uuid
        required: true
      - name: name
        in: query
        description: variant group's name
      - name: description
        in: query
        description: variant group's description
      - name: productsUuids
        in: query
        description: variant group's included products uuids
      - name: tagsUuids
        in: query
        description: variant group's included tags uuids
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateResultResponseNotFound'
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateResultResponseUnprocessable'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateResultResponseConflict'
    post:
      tags:
      - Operations about variant groups
      summary: Create a new variant group
      operationId: create_2
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/CreateVariantGroupRequestModel'
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: name
        in: query
        description: variant group's name
        required: true
      - name: description
        in: query
        description: variant group's description
      - name: productsUuids
        in: query
        description: variant group's included products uuids
      - name: tagsUuids
        in: query
        description: variant group's included tags uuids
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupCreateResultResponseNotFound'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupCreateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupCreateResultResponseUnprocessable'
    delete:
      tags:
      - Operations about variant groups
      summary: Delete variant group
      operationId: delete_1
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/DeleteVariantGroupRequestModel'
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuids
        in: query
        description: variant group's uuids
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupDeleteResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupDeleteResultResponseUnprocessable'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupDeleteResultResponseNotFound'
  /v1/variant-groups/update-status:
    put:
      tags:
      - Operations about variant groups
      summary: Update a variant group status
      operationId: updateStatus
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/UpdateVariantGroupStatusRequestModel'
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: variant group's uuid
        required: true
      - name: status
        in: query
        description: variant group's status
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateStatusResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateStatusResultResponseNotFound'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateStatusResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateStatusResultResponseUnprocessable'
        "403":
          description: Forbidden
  /v1/variant-groups/add-products:
    put:
      tags:
      - Operations about variant groups
      summary: Add products to the variant group
      operationId: addProducts
      parameters:
      - name: request
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/AddProductsVariantGroupRequestModel'
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: variant group's uuid
        required: true
      - name: productsUuids
        in: query
        description: variant group's included products uuids
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupAddProductsResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateResultResponseNotFound'
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateResultResponseUnprocessable'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupUpdateResultResponseConflict'
  /v1/users/access-privilege:
    put:
      tags:
      - Operations about users
      operationId: updateUserAccessToEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserUpdateAccessRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACLUpdateResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/tag-groups/update:
    put:
      tags:
      - Operations about tag groups
      summary: Create a new tag
      operationId: update_4
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: name
        in: query
        description: tag group's name
        required: true
      - name: uuid
        in: query
        description: tag group's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagGroupUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagGroupUpdateResultResponseModelOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagGroupUpdateResultResponseModelNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagGroupUpdateResultResponseModelUnprocessable'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagGroupUpdateResultResponseModel'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagGroupUpdateResultResponseModelConflict'
  /v1/showrooms:
    put:
      tags:
      - Operations about showrooms
      summary: Update a showroom
      operationId: update_5
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: name
        in: query
        description: showroom's name
        required: true
      - name: productsUuids
        in: query
        description: showroom's included products uuids
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShowroomRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomUpdateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomUpdateResultResponseUnprocessable'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomUpdateResultResponseNotFound'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateShowroomResultResponse'
    post:
      tags:
      - Operations about showrooms
      summary: Create a new showroom
      operationId: create_5
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonCreateShowroomRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCreateResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCreateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateShowroomResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCreateResultResponseConflict'
    delete:
      tags:
      - Operations about showrooms
      summary: Delete a showroom
      operationId: delete_4
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: showroom's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteShowroomRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomDeleteResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomDeleteResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteShowroomResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomDeleteResultResponseNotFound'
  /v1/showrooms/tags:
    put:
      tags:
      - showroom-tag-resource
      operationId: update_6
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowroomTagUpdateRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagUpdateResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
    post:
      tags:
      - showroom-tag-resource
      operationId: create_6
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowroomTagCreateRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagCreateResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/showrooms/sharelinks:
    put:
      tags:
      - Operations about share links
      operationId: update_7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShareLinkRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateShareLinkResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
    post:
      tags:
      - Operations about share links
      operationId: create_7
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShareLinkRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateShareLinkResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/showrooms/sharelinks/update-status:
    put:
      tags:
      - Operations about share links
      operationId: updateStatus_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShareLinkStatusRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateShareLinkResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/projects:
    put:
      tags:
      - Operations about projects
      summary: Update an existing project
      operationId: updateAdminApi
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
    post:
      tags:
      - Operations about projects
      summary: Create a new project
      operationId: createAdminApi
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
    delete:
      tags:
      - Operations about projects
      summary: Delete projects
      operationId: deleteAdminApi
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectDeleteRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdateResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdateResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdateResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUpdateResultResponse'
  /v1/projects/status:
    put:
      tags:
      - Operations about projects
      summary: Update project status.
      operationId: updateStatus_2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectStatusUpdateRequestItem'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
  /v1/projects/parent:
    put:
      tags:
      - Operations about projects
      summary: Update project's parent.
      operationId: updateParentAdminApi
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectParentRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResultResponse'
  /v1/projects/link-products:
    put:
      tags:
      - Operations about projects
      summary: Link assets to a project.
      operationId: addProductsAdminApi
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminProjectAddProductsRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGridResultResponse'
  /v1/products:
    put:
      tags:
      - Operations about products
      summary: Update product
      operationId: updateAdminApi_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: product's uuid
        required: true
      - name: name
        in: query
        description: product's name
        required: true
      - name: description
        in: query
        description: product's description
      - name: locationsUuids
        in: query
        description: list of locations' uuids
      - name: tagsUuids
        in: query
        description: list of tags' uuids
      - name: attributes
        in: query
        description: product's attributes map
      - name: deleteAsset
        in: query
        description: product's delete asset
        required: true
      - name: autoPublish
        in: query
        description: product's auto-publish
        required: true
      - name: modelOpsParameters
        in: query
        description: "    \n    \"DRACO_COMPRESSION\": {\n      \"enabled\": \"true\"\
          \ \"or\" \"false\",\n    },\n    \"OPTIMIZATION\": {\n      \"desiredOutput\"\
          : \"AUTO\",\n      \"obstructedGeometry\": \"true\" \"or\" \"false\",\n\
          \      \"poly\": \"1000\"\n    },\n    \"PIVOT_POINT_ALIGNMENT\": {\n  \
          \    \"pivotPoint\": \"bottom-center\" \"or\" \"center\"\n    },\n    \"\
          TEXTURE_COMPRESSION\": {\n      \"lossless\": \"true\" \"or\" \"false\"\
          ,\n      \"maxDimension\": \"1024\",\n      \"aggression\": \"7\",\n   \
          \   \"useKTX\": \"true\" \"or\" \"false\"\n    }"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseUnprocessable'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseNotFound'
    post:
      tags:
      - Operations about products
      summary: Create a new product
      operationId: create_8
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: organizationUuid
        in: query
        description: organization's uuid
        required: true
      - name: clientUuid
        in: query
        description: client's uuid
        required: true
      - name: name
        in: query
        description: product's name
        required: true
      - name: description
        in: query
        description: product's description
      - name: locationsUuids
        in: query
        description: list of locations' uuids
      - name: tagsUuids
        in: query
        description: list of tags' uuids
      - name: attributes
        in: query
        description: product's attributes map
      - name: autoPublish
        in: query
        description: product's auto-publish
        required: true
      - name: modelOpsParameters
        in: query
        description: "    \n    \"DRACO_COMPRESSION\": {\n      \"enabled\": \"true\"\
          \ \"or\" \"false\",\n    },\n    \"OPTIMIZATION\": {\n      \"desiredOutput\"\
          : \"AUTO\",\n      \"obstructedGeometry\": \"true\" \"or\" \"false\",\n\
          \      \"poly\": \"1000\"\n    },\n    \"PIVOT_POINT_ALIGNMENT\": {\n  \
          \    \"pivotPoint\": \"bottom-center\" \"or\" \"center\"\n    },\n    \"\
          TEXTURE_COMPRESSION\": {\n      \"lossless\": \"true\" \"or\" \"false\"\
          ,\n      \"maxDimension\": \"1024\",\n      \"aggression\": \"7\",\n   \
          \   \"useKTX\": \"true\" \"or\" \"false\"\n    }"
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductCreateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCreateResultResponseUnprocessable'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCreateResultResponseNotFound'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCreateResultResponseConflict'
        "403":
          description: Forbidden
  /v1/products/viewer-settings:
    put:
      tags:
      - Operations about products
      operationId: updateViewerSettingsAdminApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateViewerSettingsRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductUpdateRendererConfigsResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/products/update/send-for-review:
    put:
      tags:
      - Operations about products
      summary: Update product
      operationId: updateAndSendForReview
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: product's uuid
        required: true
      - name: name
        in: query
        description: product's name
        required: true
      - name: description
        in: query
        description: product's description
      - name: locationsUuids
        in: query
        description: list of locations' uuids
      - name: tagsUuids
        in: query
        description: list of tags' uuids
      - name: attributes
        in: query
        description: product's attributes map
      - name: deleteAsset
        in: query
        description: product's delete asset
        required: true
      - name: autoPublish
        in: query
        description: product's auto-publish
        required: true
      - name: modelOpsParameters
        in: query
        description: "    \n    \"DRACO_COMPRESSION\": {\n      \"enabled\": \"true\"\
          \ \"or\" \"false\",\n    },\n    \"OPTIMIZATION\": {\n      \"desiredOutput\"\
          : \"AUTO\",\n      \"obstructedGeometry\": \"true\" \"or\" \"false\",\n\
          \      \"poly\": \"1000\"\n    },\n    \"PIVOT_POINT_ALIGNMENT\": {\n  \
          \    \"pivotPoint\": \"bottom-center\" \"or\" \"center\"\n    },\n    \"\
          TEXTURE_COMPRESSION\": {\n      \"lossless\": \"true\" \"or\" \"false\"\
          ,\n      \"maxDimension\": \"1024\",\n      \"aggression\": \"7\",\n   \
          \   \"useKTX\": \"true\" \"or\" \"false\"\n    }"
        required: true
      - name: reviewers
        in: query
        description: Array of reviewers emails
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductUpdateAndSendForReviewRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCreateAndSendForReviewResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateAndSendForReviewResultResponseNotFound'
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateAndSendForReviewResultResponseUnprocessable'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateAndSendForReviewResultResponseConflict'
  /v1/products/status:
    put:
      tags:
      - Operations about products
      summary: Update products statuses
      operationId: updateStatus_3
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: product's uuid
        required: true
      - name: status
        in: query
        description: product's status
        required: true
        schema:
          type: string
          enum:
          - DRAFT
          - LIVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductStatusUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateResultResponseConflict'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateResultResponseUnprocessable'
  /v1/products/status/send-for-review:
    put:
      tags:
      - Operations about products
      summary: Update products status to waiting review
      operationId: updateStatusToWaitingReview
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: productUuid
        in: query
        description: product's uuid
        required: true
      - name: reviewers
        in: query
        description: reviewers list
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductStatusUpdateToWaitingReviewRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateStatusToWaitingReviewResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateStatusToWaitingReviewResultResponseConflict'
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateStatusToWaitingReviewResultResponseUnprocessable'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductStatusUpdateStatusToWaitingReviewResultResponseNotFound'
  /v1/products/reviewed-status/{status}:
    put:
      tags:
      - Operations about products
      summary: Update reviewed products status
      operationId: updateStatusAfterReview
      parameters:
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - APPROVED
          - REJECTED
          - CUSTOMER_APPROVED
          - CUSTOMER_REJECTED
          - CUSTOMER_DROPPED
          - CUSTOMER_HOLD
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: productUuid
        in: query
        description: product's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductUuidAwareRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateStatusToRejectedResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateStatusToRejectedResultResponseConflict'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateStatusToRejectedResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateStatusToRejectedResultResponseUnprocessable'
  /v1/products/reconvert:
    put:
      tags:
      - Operations about products
      summary: Send product to reconversion
      operationId: reconvert
      parameters:
      - name: uuid
        in: query
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseNotFound'
  /v1/products/reconvert-publish:
    put:
      tags:
      - Operations about products
      summary: Send product to reconversion
      operationId: reconvertAdminApi
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductReconversionRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResultResponseNotFound'
  /v1/products/integration-attributes:
    put:
      tags:
      - Operations about products
      operationId: createIntegrationAttributes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationAttributeRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IntegrationAttributesResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/presets/organization:
    put:
      tags:
      - Operations about presets
      summary: Update organization presets
      operationId: updateOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonPresetUpdateRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseNotFound'
    post:
      tags:
      - Operations about presets
      summary: Create organization presets
      operationId: createOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonOrganizationCreatePresetRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PresetCreateResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetCreateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPresetCreateResultResponseUnprocessable'
  /v1/presets/client:
    put:
      tags:
      - Operations about presets
      summary: Update client presets
      operationId: updateClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonPresetUpdateRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetUpdateResultResponseNotFound'
    post:
      tags:
      - Operations about presets
      summary: Create client presets
      operationId: createClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonClientPresetCreateRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PresetCreateResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetCreateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientPresetCreateResultResponseUnprocessable'
  /v1/locations:
    put:
      tags:
      - Operations about locations
      summary: Update the location
      operationId: update_8
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: name
        in: query
        description: location's name
        required: true
      - name: description
        in: query
        description: location's description
      - name: domain
        in: query
        description: location's domain
      - name: geoLocation
        in: query
        description: location's geolocation object
      - name: tagsUuids
        in: query
        description: tags' uuids
      - name: regionUuid
        in: query
        description: location's region uuid
      - name: uuid
        in: query
        description: location's uuid
        required: true
      - name: languageUuid
        in: query
        description: language's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationUpdateResultResponseNotFound'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LocationUpdateResultResponse'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationUpdateResultResponseUnprocessable'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationUpdateResultResponseConflict'
    post:
      tags:
      - Operations about locations
      summary: Create a new location
      operationId: create_9
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: name
        in: query
        description: location's name
        required: true
      - name: description
        in: query
        description: location's description
      - name: domain
        in: query
        description: location's domain
      - name: geoLocation
        in: query
        description: location's geolocation object
      - name: tagsUuids
        in: query
        description: tags' uuids
      - name: languageUuid
        in: query
        description: language's uuid
        required: true
      - name: clientUuid
        in: query
        description: client's uuid
        required: true
      - name: regionUuid
        in: query
        description: location's region uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCreateResultResponseConflict'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCreateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LocationCreateResultResponse'
  /v1/invitations/user-invitation/showroom-sharelink:
    put:
      tags:
      - Operations about invitations
      operationId: updateInvitationUserToShareLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateInvitationForShareLinkRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateInvitationUserInvitationStatusResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
    post:
      tags:
      - Operations about invitations
      operationId: inviteUserToShareLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateInvitationUserForShareLinkRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateInvitationUserForShareLinkResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
    delete:
      tags:
      - Operations about invitations
      operationId: revokeInvitationUserToShareLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRevokeInvitationForShareLinkRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateInvitationUserInvitationStatusResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/invitations/reject/{token}:
    put:
      tags:
      - Operations about invitations
      summary: Get organization invitation
      operationId: reject
      parameters:
      - name: token
        in: path
        description: Organization specific token
        required: true
        schema:
          type: string
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationRejectResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationRejectResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RejectInvitationOrganizationResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationRejectResultResponseNotFound'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationRejectResultResponseConflict'
  /v1/hotspots:
    put:
      tags:
      - Operations about hotspots
      summary: Update hotspot by request
      operationId: update_9
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateImageHotspotRequestModel'
              - $ref: '#/components/schemas/UpdateTextHotspotRequestModel'
              - $ref: '#/components/schemas/UpdateVideoHotspotRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotUpdateResultResponseUnprocessable'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotUpdateResultResponseNotFound'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotUpdateResultResponseConflict'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotUpdateResultResponse'
    post:
      tags:
      - Operations about hotspots
      summary: Create hotspot by request
      operationId: create_10
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateImageHotspotRequestModel'
              - $ref: '#/components/schemas/CreateTextHotspotRequestModel'
              - $ref: '#/components/schemas/CreateVideoHotspotRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotCreateResultResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotCreateResultResponseConflict'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotCreateResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotspotCreateResultResponseUnprocessable'
  /v1/comments:
    put:
      tags:
      - Operations about comments
      summary: Update product comment
      operationId: updateProductComment
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: comment's uuid
        required: true
      - name: entityUuid
        in: query
        description: comment's related entity's uuid
        required: true
      - name: message
        in: query
        description: comment's message
        required: true
      - name: attachments
        in: query
        description: product aware attached files to comment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonUpdateProductCommentRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentUpdateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AdminCommonUpdateCommentResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentUpdateResultResponseNotFound'
      deprecated: true
    post:
      tags:
      - Operations about comments
      summary: Create a new product comment
      operationId: createProductComment
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: entityType
        in: query
        description: comment's related type
        required: true
      - name: entityUuid
        in: query
        description: comment's related entity's uuid
        required: true
      - name: message
        in: query
        description: comment's message
        required: true
      - name: attachments
        in: query
        description: product aware attached files to comment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonCreateProductCommentRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentCreateResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentCreateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AdminCommonCreateCommentResultResponse'
      deprecated: true
    delete:
      tags:
      - Operations about comments
      summary: Delete comment
      operationId: delete_9
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: comment's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonDeleteEntityCommentRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDeleteResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDeleteResultResponseNotFound'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteCommentResultResponse'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDeleteResultResponseUnprocessable'
  /v1/comments/update:
    put:
      tags:
      - Operations about comments
      summary: Update comment
      operationId: updateComment
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonUpdateEntityCommentRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentUpdateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AdminCommonUpdateCommentResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentUpdateResultResponseNotFound'
  /v1/clients:
    put:
      tags:
      - Operations about clients
      summary: Update client
      operationId: update_10
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: client's uuid
        required: true
      - name: name
        in: query
        description: client's name
        required: true
      - name: imageBlobId
        in: query
        description: client's imageBlobId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientOrganizationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientUpdateResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientUpdateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateClientOrganizationResultResponse'
    post:
      tags:
      - Operations about clients
      summary: Create a new client
      operationId: create_11
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: name
        in: query
        description: client's name
        required: true
      - name: slug
        in: query
        description: client's slug
        required: true
      - name: imageBlobId
        in: query
        description: client's imageBlobId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClientOrganizationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCreateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClientOrganizationResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientCreateResultResponseNotFound'
  /v1/bulk/products/reviewed-status/{status}:
    put:
      tags:
      - Bulk operations about products
      operationId: updateStatusAfterReview_1
      parameters:
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - APPROVED
          - REJECTED
          - CUSTOMER_APPROVED
          - CUSTOMER_REJECTED
          - CUSTOMER_DROPPED
          - CUSTOMER_HOLD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonProductUuidsAwareRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductBulkUpdateResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/annotations:
    put:
      tags:
      - Operations about annotations
      summary: Update annotation
      operationId: update_11
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: annotation's uuid
        required: true
      - name: text
        in: query
        description: annotation's text
        required: true
      - name: dimensions
        in: query
        description: annotation's dimensions
        required: true
      - name: attachments
        in: query
        description: attached files to annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonUpdateAnnotationRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationUpdateResultResponseConflict'
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationUpdateResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationUpdateResultResponseUnprocessable'
    post:
      tags:
      - Operations about annotations
      summary: Create a new annotation
      operationId: create_13
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: productUuid
        in: query
        description: product's uuid
        required: true
      - name: text
        in: query
        description: annotation's text
        required: true
      - name: dimensions
        in: query
        description: annotation's dimensions
        required: true
      - name: attachments
        in: query
        description: attached files to annotation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonCreateAnnotationRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationCreateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationCreateResultResponseNotFound'
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationCreateResultResponseUnprocessable'
    delete:
      tags:
      - Operations about annotations
      summary: Delete annotation
      operationId: delete_11
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: annotation's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommonDeleteAnnotationRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationDeleteResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationDeleteResultResponseNotFound'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationDeleteResultResponseConflict'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAnnotationResultResponse'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationDeleteResultResponseUnprocessable'
  /showrooms/comments:
    put:
      tags:
      - Operations about showroom comments
      summary: Update a showroom comment
      operationId: update_12
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShowroomCommentRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCommentResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCommentResultResponse'
    post:
      tags:
      - Operations about showroom comments
      summary: Create a new showroom comment for a specific product
      operationId: create_14
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShowroomCommentRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCommentResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomCommentResultResponse'
  /v2/showrooms/search:
    post:
      tags:
      - Operations about showrooms v2
      summary: "Search showrooms by search term, where it looks up into showroom's\
        \ name and showroom's tags."
      operationId: searchV2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminFindShowroomByFilterV2RequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomSearchResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShowroomSearchResponse'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomSearchResultResponseUnprocessable'
  /v2/showrooms/get-by-uuid:
    post:
      tags:
      - Operations about showrooms v2
      summary: Get showroom by uuid
      operationId: getByUuidV2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: uuid
        in: query
        description: showroom's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShowroomDetailsRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomGetByUuidResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomGetByUuidResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShowroomGetResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomGetByUuidResultResponseNotFound'
  /v2/metrics/views-data:
    post:
      tags:
      - Operations about analytics 2.0
      operationId: getViewsData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminViewsMetricsRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewsMetricsResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v2/metrics/summary-report:
    post:
      tags:
      - Operations about analytics 2.0
      operationId: getSummaryReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSummaryReportRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryReportResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v2/metrics/dashboard:
    post:
      tags:
      - Operations about analytics 2.0
      operationId: mostViewedProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAnalyticsDashboardRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDashboardResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/webhooks/:
    post:
      tags:
      - Operations about Webhooks
      summary: Save the webhook
      operationId: save
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminWebhookRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebHookResponse'
        "401":
          description: Unauthorized
          content: {}
        "409":
          description: Conflict
        "403":
          description: Forbidden
  /v1/viewer/environment-maps/upload/images:
    post:
      tags:
      - Operations about environment maps
      summary: Upload the environment map image to be used with the create or update
        endpoints.
      operationId: uploadImage
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      requestBody:
        content:
          application/json:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GCloudStorageResourceUploadResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/viewer-presets/search:
    post:
      tags:
      - Operations about viewer presets
      summary: "It allows to search viewer presets by name, client uuid and preset\
        \ type."
      operationId: search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ViewerPresetSearchRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ViewerPresetGridResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/variant-groups/search:
    post:
      tags:
      - Operations about variant groups
      summary: Search variant groups by filter
      operationId: search_1
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: organizationUuid
        in: query
        description: variant group's organization uuid
        required: true
      - name: clientUuid
        in: query
        description: variant group's client uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VariantGroupSearchRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupSearchResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupSearchResultResponseNotFound'
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariantGroupSearchResultResponseUnprocessable'
  /v1/users/search-grants:
    post:
      tags:
      - Operations about users
      operationId: getGrants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserGetGrantsRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdmindUserGrantResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/users/granted-access:
    post:
      tags:
      - Operations about users
      operationId: getUsersGrantedAccessToEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserGrantedAccessRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserGrantedAccessResultResponse'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
  /v1/tags/update:
    post:
      tags:
      - Operations about tags
      summary: Update the tag
      operationId: update_13
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: tagGroupUuid
        in: query
        description: tag group's uuid
        required: true
      - name: name
        in: query
        description: tag's name
        required: true
      - name: uuid
        in: query
        description: tags's uuid
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdateRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagUpdateResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagUpdateResultResponseUnprocessable'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagUpdateResultResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagUpdateResultResponseNotFound'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagUpdateResultResponseConflict'
  /v1/tags/search:
    post:
      tags:
      - Operations about tags
      summary: Search tags
      operationId: search_2
      parameters:
      - name: X-AUTH-TOKEN
        in: header
        description: Organization specific token
        required: true
      - name: searchTerm
        in: query
        description: Search term
      - name: clientUuid
        in: query
        description: logged in client's uuid
        required: true
      - name: page
        in: query
        description: the page number of result set
      - name: size
        in: query
        description: the page size of result set
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSearchTagInOneClientRequestModel'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTagSearchAdminResultResponseOk'
        "401":
          description: Unauthorized
          content:
            '*/*':
              schema:
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchTagSearchAdminResultResponse'
  /v1/tags/create:
[...]
